$accentColor = #424242                      // 主题颜色       
$textColor = #232321                        // 文本颜色
$borderColor = #eaecef                      // 边框线颜色
$codeBgColor = #282c34                      // 代码块背景色
$backgroundColor = #ffffff                  // 悬浮块背景色

.home-blog .hero h1, .home-blog .hero .description, .home-blog .hero .action, .home-blog .hero .huawei{
    color: #000 !important;
}